<div class="panel panel-{{mtl-color color}}"
     style="width: {{units width}}; height: {{units height}}">
    <div class="panel-heading">
        <h3 class="panel-title">Match</h3>
    </div>
    <div class="panel panel-{{mtl-color color}}">
        <div class="panel-heading">
            <h3 class="panel-title">Issue</h3>
        </div>
        <div class="panel-body">
			{{issue.body}}
        </div>
    </div>
    <div class="panel panel-{{mtl-color color}}">
        <div class="panel-heading">
            <h3 class="panel-title">Goal</h3>
        </div>
        <div class="panel-body">
			{{goal.body}}
        </div>
    </div>
</div>
