{{#with case}}
<div class="background">
    <div id='activity-clock' class="activity-clock-high">{{caseinfo.timer}}</div>
    <div id="infocard-container" style="margin-top:60px">
    {{#each caseinfo.cards}}
        {{#if show-threshold}}
        <div id="infocard-{{id}}" threshold="{{show-threshold}}" class="well infocard hidden-info" style="padding:5px">
        {{else}}
        <div id="infocard-{{id}}" class="well infocard" style="padding:5px">
        {{/if}}
            <div class="card-title">
            {{title}}
            </div>
            <div class="card-content">
                <div class="content-media">
                    {{#if image}}
                    <img src="{{source}}" alt="{{imgtext}}">
                    {{/if}}
                    {{#if video}}
                    <video controls>
                        <source src="{{source}}" type="video/{{type}}">
                        browser unsupported for watching video
                    </video>
                    {{/if}}
                    {{#if audio}}
                    <audio controls>
                        <source src="{{source}}" type="audio/{{type}}">
                    </audio>
                    {{/if}}
                </div>

                <div class="content-text">
                    <ul>
                        {{#each items}}
                        {{#if issue}}
                        <li id="info-{{../../id}}-{{@index}}" issue="{{issue}}" class="list-item">{{text}}</li>
                        {{else}}
                        <li id="info-{{../../id}}-{{@index}}" class="list-item">{{text}}</li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>

            </div>
            <div class="card-button">
                <div class="pull-right btn-keep btn btn-xs btn-flat btn-success">Keep</div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/with}}