<div class="cpn-sb panel panel-primary{{#if classes}}{{ classes}}{{/if}}"
	 style="width: {{units width}}">
	<div class="panel-heading btn-material-green"> <!-- @todo: change to same green as button -->
		<h3 class="panel-title">{{#if title}}{{title}}{{else}}Evidence Cart{{/if}}</h3>
	</div>
	<div class="panel-body">
	
		{{{body}}}
		<!-- {{collection}} -->
		<!--<div class="text-center">
			<button class="btn btn-info btn-raised confirm">Got It!</button>
		</div>-->
	</div>
</div>
