<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Test Results</h3>
		<!-- "id": 2,
		"name": "hormonePanel",
		"estrone": "100",
		"estradiol": "30",
		"estriol": "120",
		"testosterone": "20",
		"progesterone": "30",
		"DHEA": "40",
		"cortisol": "50" -->
	</div>
	<div class="panel-body">
		<table>
	<tr id ="estriol">
			<td class = "padded"><strong>Estriol</strong></td>
			<td class = "padded" id = "value">
				{{estriol}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="estrone">
		<td class = "padded"><strong>Estrone</strong>
			<td class = "padded" id = "value">
				{{estrone}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="estradiol">
		<td class = "padded"><strong>Estradiol</strong>
			<td class = "padded" id = "value">
				{{estradiol}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="testosterone">
		<td class = "padded"><strong>Testosterone</strong>
			<td class = "padded" id = "value">
				{{testosterone}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="progesterone">
		<td class = "padded"><strong>Progesterone</strong>
			<td class = "padded" id = "value">
				{{progesterone}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="dhea">
		<td class = "padded"><strong>DHEA</strong>
			<td class = "padded" id = "value">
				{{DHEA}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="cortisol">
		<td class = "padded"><strong>Cortisol</strong>
			<td class = "padded" id = "value">
				{{cortisol}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
</table>
	</div>
	<div class ="centerize">
	<button id="hide-chart-button" class="btn btn-primary btn-raised hide-chart-button">Hide</button>
	</div>
</div>
