<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Test Results</h3>
	</div>
	<div class="panel-body">
		<table>
	<tr id ="glucose">
			<td class = "padded"><strong>Glucose</strong></td>
			<td class = "padded">{{glucose}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="bilirubin">
		<td class = "padded"><strong>Bilirubin</strong>
			<td class = "padded">{{bilirubin}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="ketones">
		<td class = "padded"><strong>Ketones</strong>
			<td class = "padded">{{ketones}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="sg">
		<td class = "padded"><strong>S.G</strong>
			<td class = "padded">{{sg}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="eryth">
		<td class = "padded"><strong>Eryth</strong>
			<td class = "padded">{{eryth}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="ph">
		<td class = "padded"><strong>pH</strong>
			<td class = "padded">{{ph}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
	<tr id ="ts">
		<td class = "padded"><strong>T.S (g/dL)</strong>
			<td class = "padded">{{ts}}</td>
			<td><button class = "flag-btn flag-btn-low">Low</button></td>
			<td><button class = "flag-btn flag-btn-high">High</button></td>
	</tr>
</table>
	</div>
	<div class ="centerize">
	<button id="hide-chart-button" class="btn btn-primary btn-raised hide-chart-button">Hide</button>
	</div>
</div>
