<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Test Results</h3>
	</div>
	<div class="panel-body">
		<ul>
		<li>
		<strong>Glucose</strong> 100{{glucose}}
		<span class = "flag-btns">
			<button class = "flag-btn flag-btn-high">High</button>
			<button class = "flag-btn flag-btn-low">Low</button>
		</span>
		</li>
		<li>
		<strong>Bilirubin</strong> 30 {{bilirubin}}
		<span class = "flag-btns">
			<button class = "flag-btn flag-btn-high">High</button>
			<button class = "flag-btn flag-btn-low">Low</button>
		</span>
		</li>
		<li>
		<strong>Ketones</strong> {{ketones}}120
		<span class = "flag-btns">
			<button class = "flag-btn flag-btn-high">High</button>
			<button class = "flag-btn flag-btn-low">Low</button>
		</span>
		</li>
		<li>
		<strong>S.G</strong> {{sg}}20
		<span class = "flag-btns">
			<button class = "flag-btn flag-btn-high">High</button>
			<button class = "flag-btn flag-btn-low">Low</button>
		</span>
		</li>
		<li>
		<strong>Eryth</strong> {{eryth}}30
		<span class = "flag-btns">
			<button class = "flag-btn flag-btn-high">High</button>
			<button class = "flag-btn flag-btn-low">Low</button>
		</span>
		</li>
		<li>
		<strong>pH</strong> {{ph}}40
		<span class = "flag-btns">
			<button class = "flag-btn flag-btn-high">High</button>
			<button class = "flag-btn flag-btn-low">Low</button>
		</span>
		</li>
		<li>
		<strong>T.S (g/dL)</strong> {{ts}}100
		<span class = "flag-btns">
			<button class = "flag-btn flag-btn-high">High</button>
			<button class = "flag-btn flag-btn-low">Low</button>
		</span>
	</li>
</ul>
	</div>
	<button id="hide-chart-button" class="btn btn-primary btn-raised hide-chart-button">Hide</button>
</div>
