<div class="panel panel-info">
	<div class="panel-heading">
		<h3 class="panel-title">Urine Analysis Results</h3>
	</div>
	<div class="panel-body">
		<strong>Glucose</strong> {{glucose}}<br> <!-- 100 -->
		<strong>Bilirubin</strong> {{bilirubin}}<br> <!-- 30 -->
		<strong>Ketones</strong> {{ketones}}<br> <!-- 120 -->
		<strong>S.G</strong> {{sg}}<br> <!-- 20 -->
		<strong>Eryth</strong> {{eryth}}<br> <!-- 30 -->
		<strong>pH</strong> {{pH}}<br> <!-- 40 -->
		<strong>T.S (g/dL)</strong> {{TS}}<br> <!-- 50 -->
	</div>
	<button id="hide-chart-button" class="btn btn-primary btn-raised hide-chart-button">Hide</button>
</div>
