<div class="panel panel-{{mtl-color color}}"
     style="width: {{units width}}; height: {{units height}}">
    <div class="panel-heading">
        <h3 class="panel-title">{{type.title}}</h3>
    </div>
    <div class="panel-body">
        {{definition.body}}
    </div>
</div>