<div class="help-container">
    <div class="panel panel-primary {{#if classes}}{{ classes}}{{/if}}"
         style="width: {{units width}}; height: {{units height}}">
        <div class="panel-heading">{{#if title}}{{title}}{{else}}Help{{/if}}</div>
        <div class="panel-body">
			{{{helpContent}}}
            <div class="text-center">
                <button class="cpn-button btn btn-info btn-raised">Got it</button>
            </div>
        </div>
    </div>
</div>
