<div class="help-container">
    <div class="panel panel-primary {{#if classes}}{{ classes}}{{/if}}"
         style="width: {{units width}}; height: {{units height}}">
		{{#if title}}
            <div class="panel-heading">{{title}}:</div>
		{{else}}
            <div class="panel-heading">Help:</div>
		{{/if}}
        <div class="panel-body">
			{{{helpContent}}}
        </div>
    </div>
    <button class="cpn-actionbutton mtl-fab btn btn-material-red btn-fab btn-raised help-close mdi-content-clear">
    </button>
</div>
