<!--{{#if href}}{{#unless disabled}}<a href="{{href}}">{{/unless}}{{/if}}-->
{{#if href}}<a href="{{href}}">{{/if}}
<button id = "{{#if id}}{{id}}{{/if}}"
class="cpn-actionbutton mtl-fab btn btn-{{mtl-color color}} btn-fab btn-raised
{{#if disabled}} btn-disabled{{/if}}
{{#if classes}} {{classes}}{{/if}}
{{#if icon}} mdi-{{icon}}{{/if}}"
{{#if styles}}style="{{#each styles}}{{@key}}: {{units this}} !important;{{styles}}{{/each}}{{/if}}">
	{{text}}
</button>
<!--{{#if href}}{{#unless disabled}}</a>{{/unless}}{{/if}}-->
{{#if href}}</a>{{/if}}
