<div class="help-container panel panel-primary {{#if classes}}{{ classes}}{{/if}}" style="width: {{units width}}; height: {{units height}}">
    {{#if title}}
        <div class="panel-heading">{{title}}:</div>
    {{else}}
        <div class="panel-heading">Help: </div>
    {{/if}}
    <div class="panel-body"> {{{helpContent}}} </div>
</div>